name: windows_x64_dml_python_release

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_windows_dml:
    runs-on: windows-2022
    timeout-minutes: 120

    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.12', '3.14', '3.14t']

    # continue-on-error: true

    env:
      has_release: true
      tag_name: ""
      release_name: ""
      remote_name: ""
      remote_tag: ""
      move_on: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Get latest release info
        shell: bash
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/latest)

          if echo "$response" | grep -q "Not Found"; then
            echo "has_release=false" >> $GITHUB_ENV
          else
            echo "has_release=true" >> $GITHUB_ENV
            echo "tag_name=$(echo "$response" | jq -r .tag_name)" >> $GITHUB_ENV
            echo "release_name=$(echo "$response" | jq -r .name)" >> $GITHUB_ENV
          fi

      - name: Get latest repo release tag
        shell: bash
        run: |
          response=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/microsoft/onnxruntime/releases/latest)

          if echo "$response" | grep -q "Not Found"; then
            echo "move_on=false" >> $GITHUB_ENV
            exit 0
          else
            echo "remote_tag=$(echo "$response" | jq -r .tag_name)" >> $GITHUB_ENV
            echo "remote_name=$(echo "$response" | jq -r .name)" >> $GITHUB_ENV
          fi

      - name: Compare release tags
        shell: bash
        run: |
          echo "Github tag: ${{ env.tag_name }}"
          echo "Remote tag: ${{ env.remote_tag }}"

          if [ "${{ env.tag_name }}" = "${{ env.remote_tag }}" ]; then
            echo "move_on=false" >> $GITHUB_ENV
            exit 0
          else
            echo "⚠️ Tags differ! Compiling new version!"
            echo "tag_name=${{ env.remote_tag }}" >> $GITHUB_ENV
            echo "release_name=${{ env.remote_name }}" >> $GITHUB_ENV
            exit 0
          fi

      # - name: Backup
      #   if: ${{ env.move_on == 'true' }}
      #   uses: actions/upload-artifact@v6
      #   with:
      #     name: backups-${{ matrix.python-version }}
      #     if-no-files-found: error
      #     path: |
      #       onnxruntime/

      - name: Setup Python
        if: ${{ env.move_on == 'true' }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install python requirements
        if: ${{ env.move_on == 'true' }}
        run: |
          python -m pip install --upgrade pip
          pip install -r min\requirements_dev.txt

      - name: Fetch remote code
        if: ${{ env.move_on == 'true' }}
        shell: bash
        run: |
          git remote set-url origin https://github.com/microsoft/onnxruntime.git
          git fetch origin tag "${{ env.tag_name }}"
          git checkout "${{ env.tag_name }}" -f

      # - name: Download Backup
      #   if: ${{ env.move_on == 'true' }}
      #   uses: actions/download-artifact@v7
      #   with:
      #     name: backups-${{ matrix.python-version }}
      #     path: onnxruntime/

      - name: Locate vcvarsall
        if: ${{ env.move_on == 'true' }}
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"

      - name: Build ONNX Runtime (Windows + DML + Python)
        if: ${{ env.move_on == 'true' }}
        shell: pwsh
        run: |
          mkdir build
          python "${{ github.workspace }}\tools\ci_build\build.py" `
            --config Release `
            --build_dir build `
            --skip_submodule_sync `
            --parallel 0 `
            --cmake_generator "Visual Studio 17 2022" `
            --msbuild_extra_options "IncludeMobileTargets=false" `
            --msbuild_extra_options "/v:detailed" `
            --build_shared_lib `
            --build_wheel `
            --use_cache `
            --enable_lto `
            --skip_tests `
            --disable_contrib_ops `
            --disable_ml_ops `
            --use_dml `
            --compile_no_warning_as_error `
            --no_kleidiai `
            --use_mimalloc `
            --disable_types float8 `
            --disable_types optional `
            --cmake_extra_defines CMAKE_VERBOSE_MAKEFILE=ON

          7z a -t7z -m0=LZMA2 -mmt=on -mx=3 -md=4m -mfb=32 -ms=1g -mqs=on -sccUTF-8 -mtc=on -mta=on -mhe=on `
            onnxruntime_py${{ matrix.python-version }}.7z `
            build\Release\Release\dist
        env:
          ALLOW_RELEASED_ONNX_OPSET_ONLY: '0'
          DocUpdateNeeded: 'false'

      - name: Upload wheel
        if: ${{ env.move_on == 'true' }}
        uses: actions/upload-artifact@v6
        with:
          name: onnxruntime-wheel-py${{ matrix.python-version }}
          path: |
            onnxruntime_py${{ matrix.python-version }}.7z

      - name: Create Release
        if: ${{ env.move_on == 'true' }}
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.tag_name }}
          name: ${{ env.release_name }}
          draft: false
          prerelease: false
          files: |
            ./onnxruntime*.7z
